@model MvcCv.Models.Entity.TblCertificates
@{
    ViewBag.Title = "UpdateCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Sertifika Güncelleme Sayfası</h2>
<br />
<form method="post" class="form-group">

    @Html.HiddenFor(x => x.ID)
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Descrption, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Güncelle</button>
   <a href="/Certificate/DeleteCertificate/@ViewBag.deger" class="btn btn-danger">Sil</a>



</form>
